body {
  margin:0 auto;
}

/* Reset */
* {text-decoration:none;margin:0;padding:0;font-family: "맑은 고딕", Dotum;font-weight:500;font-size:13px;color:#475058;-webkit-text-size-adjust:100%;word-break: keep-all;word-wrap: break-word;}
ul,li {list-style:none;}

/* layout */
.wrap {overflow:hidden;position:relative;min-width:1200px;}
.content {position:relative;width:1200px;height:100%;margin:0 auto;}

/* header */
.header .logo {display:inline-block;position:absolute;left:5px;top:7px;z-index:0;width:320px;height:72px;}
.header .top {position:relative;width:100%;height:30px;background:gray;}
.header .top .util_menu {}
.header .top .util_menu > a {display:inline-block;position:relative;margin:0 0 0 53px;padding:0 14px 0 0;font-size:14px;color:#fff;line-height:1em;}
.header .top .util_menu .btn_login {display:inline-block;position:absolute;right:170px;top:-2px;z-index:0;margin-right: 20px;padding: 10px;}
.header .top .util_menu .btn_sidebar {display:inline-block;position:absolute;right:150px;top:-4px;z-index:0;margin-right: 20px;padding: 10px;}
.header .top .util_menu .btn_signup {display:inline-block;position:absolute;right:80px;top:-2px;z-index:0;margin-right: 20px;padding: 10px;}

.header .topMenu {overflow:hidden;position:relative;width:100%;height:125px;background:#fff url(img/bg_gnb.gif) repeat-x 0 -16px;}
.header .topMenu .content::after {
	content:'';
	display:inline-block;
	position:absolute;right:-50px;top:180px;z-index:0;
	width:373px;height:243px;
}

.header .topMenu .gnb {display:inline-block;position:absolute;left:380px;top:35px;z-index:0;}
.header .topMenu .gnb::after {content:'';clear:both;display:block;}
.header .topMenu .gnb > li {float:left;position:relative;display:inline-block;background:url(img/bar_black.png) no-repeat 0 3px;text-align:center;}
.header .topMenu .gnb > li:first-child {background:none;}
.header .topMenu .gnb .menuLink {display:inline-block;position:relative;z-index:20;height:60px;font-size:20px;color:#000;line-height:1em;text-align:center;font-weight:bold;font-family:"맑은 고딕";font-weight:500;}

.header .topMenu .gnb .topMenuLi .menuLink {background:none;}
.header .topMenu .gnb .topMenuLi:hover .menuLink,
.header .topMenu .gnb .topMenuLi.active .menuLink {background:url(img/bg_gnb_over.png) no-repeat 50% 90%;}

.topMenu ul li { /* 메인 메뉴 안에 ul 태그 안에 있는 li 태그의 스타일 적용(상위/하위메뉴 모두) */
  float: left;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.menuLink, .submenuLink { /* 상위 메뉴와 하위 메뉴의 a 태그에 공통으로 설정할 스타일 */
  text-align:center;
  text-decoration:none;
  display: block;
  width: 150px;
  font-size: 12px;
  font-weight: bold;
}

.submenuLink { /* 하위 메뉴의 a 태그 스타일 설정 */
  color: #2d2d2d;
  background-color: white;
  font-size: 15px;
  width: 100px;
}

.submenu { /* 하위 메뉴 스타일 설정 */
  position: absolute;
  height: 0px;
  overflow: hidden;
  transition: height .2s;
  -webkit-transition: height .2s;
  -moz-transition: height .2s;
  -o-transition: height .2s;
  width: 550px; /* [변경] 가로 드랍다운 메뉴의 넓이 */
}

.submenu li {
   display: inline-block; /* [변경] 가로로 펼쳐지도록 설정 */
}

.topMenuLi:hover .submenu { /* 상위 메뉴에 마우스 모버한 경우 그 안의 하위 메뉴 스타일 설정 */
    height: 32px; /* [변경] 높이를 32px로 설정 */
}

.submenuLink:hover { /* 하위 메뉴의 a 태그의 마우스 오버 스타일 설정 */
  color: green;
}

.sub-wrap { width:980px; margin:0 auto; }
.sub-wrap .snb { float:left; width:190px; min-height:600px; }
.sub-wrap .snb h2 { font-family: Malgun Gothic;font-size:25px; color:#000; padding:26px 0; border-bottom:1px solid #000; letter-spacing:-0.125em; }
.sub-wrap .snb .snb-list { width:100%; }
.sub-wrap .snb .snb-list li { list-style:none; width:100%; height:38px; line-height:38px; border-bottom:1px solid #cccccc; }
.sub-wrap .snb .snb-list li a { display:block; font-size:16px; color:#555; text-decoration:none; }
.sub-wrap .snb .snb-list li a:hover { background:#ececec; }
.sub-wrap .snb .snb-list li a:hover::after {content:url('img/on_icon.png'); height:100%; float:right; }
.sub-wrap .snb .snb-list li.snb-sub { height:30px !important; line-height:30px !important; border-bottom:none !important; }
.sub-wrap .snb .snb-list li.snb-sub a { transition:padding 100ms ease-in-out; font-size:13px !important; color:#555; padding-left:20px; }
.sub-wrap .snb .snb-list li.snb-sub a:hover { transition:padding 100ms ease-in-out; padding-left:30px; }
.sub-wrap .sub-content { float:right; width:760px; }
.sub-wrap .sub-content .table-title {line-height:80px;font-size:30px;height:80px;color:#000;font-weight:500;font-family:"맑은 고딕";}
