h1 {
  margin-bottom: 10px;
  color:#4F81BD;
  font-weight:bold;
  font-size: 25px;
  font-family: '맑은 고딕', sans-serif;
}

table {
  border-spacing: 20px 10px;
}

.line {
  margin-top:20px;
  margin-bottom:20px;
  width:900px;
  height:0.1em;
  background-color:#4F81BD;
}

.btn {
  margin-top: 20px;
}
